*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
.container {
    width:50%;
    margin-top:20px;
}
.list-group{
    margin-top:30px;
}
.btn-primary{
    margin-top:20px;
}
label,li,input{
    cursor:pointer;
}